<div class="row" id="products">
  <%= render @products %>
</div>
<script>
$('#buscar').keyup(function () {
  var q = $(this).val()
  $.ajax({
    url: '<%= products_path %>',
    type: 'GET',
    data: {
      buscar: q
    }
  })
  .done(function() {
    console.log("success");
  })
  .fail(function() {
    console.log("error");
  })
  .always(function() {
    console.log("complete");
  });

});
</script>
